{
	"identifier": "Your Packge ID. This will also be your packages folder name.",
	"description": "A description for you package",
	"author": "Your name or you organisations name",
	"versions": [
		{
			"id": "Version Number: 1.0.0",
			"branch": "release or beta or dev or pre-release",
			"features": ["relink", "startup", "command"]
		}
	]
}
