{
	"identifier": "Your Packge ID. This will also be your packages folder name.",
	"description": "A description for you package",
	"author": "Your name or you organisations name",
	"runAtStartup": true,
	"versions": [
		{
			"id": "Version Number: 1.0.0",
			"branch": "Release or Beta or Development",
			"location": "A link to the folder containing the package.tar.gz file"
		}
	]
}
